{% extends "base/ad.html" %}

{% block no_assignment %}
    <h1>Call for participants</h1>
    <p>
        The Cultural Evolution Group at the University of Exeter is looking for online participants for a brief psychology experiment. The only requirements
        are that you are at least 18 years old and are a fluent English
        speaker.  The task will take no more than 40 minutes** and will pay a minimum of $10, with an opportunity to win an extra $20 bonus. **PLEASE NOTE, although the task itself takes no longer than 40 minutes, you may have to wait for other people to join your group before the task begins. This usually takes no more than 10-15 minutes but we allow 1.5 hours for total completion to avoid panic.**
        ***THIS IS A GROUP GAME, PLEASE BE READY TO START AS SOON AS YOU ACCEPT THE HIT TO PREVENT OTHERS FROM WAITING FOR YOU***
    </p>
    <p>
        Please click the "Accept HIT" button on the Amazon site
        above to begin the task.
    </p>
{% endblock no_assignment %}

{% block live %}
    <h1>Thanks for accepting this HIT.</h1>
    <p>
        By clicking the following URL link, you will be taken to the experiment,
        including instructions and an informed consent agreement.
    </p>
    <div class="alert alert-warning">
        <b>Please Note</b>: If you cannot continue to our experiment, please try disabling any ad-blockers you have for this page. Thank you.
    </div>

    <button type="button" id="begin-button" class="btn btn-primary btn-lg">
    Begin Experiment
    </button>
{% endblock live %}