{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Thank you for contributing to science</h1>

        <hr>

        <p>Thank you for taking part in our experiment, we appreciate your time. Our experiment was investigating who people choose to copy from when they are unsure of an answer themselves. We were interested in knowing whether people copy the most successful people, or if that information is no available to them, do they copy those who others have copied previously.
    	The quiz questions were intentionally extremely hard, to encourage people to "ask someone else". Please do not feel disheartened if you did not get a high enough score for the bonus, we anticipated this to be extremely rare due to the difficulty of the task.
    	If you have any further questions or concerns, please contact culturalevolution@exeter.ac.uk 
        </p>

        <hr>
         
    </div>
{% endblock %}
