{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p>
            <b><font style ="font-size:160%;"> What you will be doing: </font></b><br>
            In this experiment, you will be taking part in a quiz with a group of 10-15 other people. <br> You will have to answer <b> <font colour="red"> 100 general knowledge questions. </font></b> <br> There are four topics: <b> <font color="green"> World Geography, </font> <font color="orange">  Art History, </font> <font color="purple"> Language Recognition, </font> and <font color="blue"> Weight Estimation. <br> </font> </b> Some questions have pictures, others do not. <br> You will have <b> <font colour="red">15 Seconds </font></b> to answer each question. <br> If you do not answer in 15 seconds, you will not score a point for that question. <br> If you do not respond for over 1 minute you will delay the rest of your group and therefore will not be able to continue to the end of the quiz. <br>  You will not be told if you answered a question correctly or incorrectly throughout the quiz. You will be told your total score at the end of the quiz. <br><br>
            <b> <font style ="font-size:160%;">Points and Payment: </font></b><br>
            Everyone gets <b> <font colour="red"> $10 </font> </b> for completing the quiz. 
            You get one point for each correct answer. <br> 
            If you score <b> <font colour="red"> over 85 points </font> </b> you will receive <b><font color="red" style="font-size:150%;"">$20</font></b> bonus payment. <br><br>
            <b> <font style ="font-size:160%;">Asking someone else: </font> </b> <br>
            If you are unsure of an answer, you can select <b> <font color="red"> "Ask Someone Else" </font> </b> to copy the answer of one of the other players. <br> When you select <b><font color="red">"Ask Someone Else"</font></b> you will be shown the score so far of every other player in the group who answered that question, for that topic.<br> You will not be able to see their answer, but, <b>if the player you choose answered correctly, you will also get a point for that question.</b> <br> If the person you choose answered incorrectly, you will <b>not</b> get a point for that question. <br><br>
            <b> <font style ="font-size:160%;">Practice Round: </font> </b> <br>
            You will now complete four practice questions before you begin the real quiz, to familiarise yourself with how the buttons work. No one can score points in the practice round. 
        </p>

        <hr>

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('start');">
                    Begin Practice Round</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        dallinger.createParticipant();
    </script>
{% endblock %}
